<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/qwertyuiopppp/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="qwertyuiopppp" />
            <add key="ClearTextPassword" value="566347f5c3d7b9cef99abac279dcf3045fb55a45" />
        </github>
    </packageSourceCredentials>
</configuration>